/* Logins.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #b3d10b;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: orange; /* Dark color for better readability */
}

.subtitle {
  color: orangered;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group p {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555; /* Slightly darker than default text color */
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* To include padding and border in total width */
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4cae4c;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  background-color: #d9534f;
  color: white;
  border-radius: 4px;
  display: none;
}
